arrow==0.12.1
asn1crypto==0.24.0
bidict==0.13.1
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
cryptography==2.1.4
daemonocle==1.0.1
idna==2.6
inotify-simple==1.1.7
keyring==11.0.0
onedrivesdk==1.1.8
psutil==5.4.3
pycparser==2.18
python-dateutil==2.7.0
PyYAML==3.12
requests==2.18.4
SecretStorage==2.3.1
Send2Trash==1.5.0
six==1.11.0
tabulate==0.8.2
urllib3==1.22
zgitignore==0.8.0
